
<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
  
    <ion-nav-bar class="bar-assertive">
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      
    </ion-nav-bar>

    <ion-tabs class="tabs-background-dark tabs-color-light"  ng-class="{ 'tabs-item-hide': hideTabs }">
    
      <ion-tab title="Home" href="#/app/home">
        <ion-nav-view name="homeContent"></ion-nav-view>
      </ion-tab>
      
      <ion-tab title="Menu" href="#/app/menu">
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Reservation" href="#/app/reservation">
        <ion-nav-view name="reservationContent"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Information" href="#/app/information">
        <ion-nav-view name="informationContent"></ion-nav-view>
      </ion-tab>

     <!--  <ion-tab title="" href="#/app/lrezfb">
        <ion-nav-view name="lrezfbContent"></ion-nav-view>
      </ion-tab> -->
      
    </ion-tabs>
    
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark-bg">

    <ion-content>

 <div class="text-center">
              <a ui-sref="account">
            <div><img ng-hide="hidedefaultimg" class="profile-picture" menu-close="" src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg"></div>
              
              <img  ng-hide="showsecondCard" class="profile-picture" menu-close="" src="{{appCtrl.user.display}}">
              <h4 ng-hide="showsecondCard" class="stable">{{appCtrl.user.name}}</h4>
            </a>
            <h5>Log in to access your account and
              <br>view your reservation history</h5>
              
              </div>
    
<!-- 
      <div class="item item-avatar">
        <img src="{{appCtrl.user.display}}"/>
        <h2>{{appCtrl.user.name}}</h2>
      </div> -->


      <!--   FB -->
            <div class="padding row" ng-hide="isDisabled" ng-model="isDisabled">

       <button class="col facebook-login icon-left social-button"     ng-click="appCtrl.fbLogin()">
              <i class="icon ion-social-facebook" ></i>
              <span>Facebook</span>
            </button>
      
       <button class="col instagram-login icon-left social-button"     ng-click="appCtrl.instaLogin()">
              <i class="icon ion-social-instagram" ></i>
              <span>Instagram</span>
            </button>
         
              <!-- <div class="col instagram-login icon-left social-button" ng-click="appCtrl.fbLogin()">
              <i class="icon ion-social-instagram"></i>
             Instagram
            </div> -->

              <button class="col twitter-login icon-left social-button"     ng-click="appCtrl.twitterLogin()">
              <i class="icon ion-social-twitter" ></i>
              <span>  Twitter</span>
            </button>

      <!--  <button class="col googleplus-login icon-left social-button"     ng-click="appCtrl.googleLogin()">
              <i class="icon ion-social-googleplus" ></i>
              <span>  Google Plus</span>
            </button>
       -->
<!-- 
            <div class="col googleplus-login icon-left social-button">
              <i class="icon ion-social-googleplus"></i>
              Google Plus
            </div> -->

          </div>

 <button class="col social-logout icon-left social-button"  ng-click="logout()" ng-show="isDisabled" ng-model="isDisabled">
              <i class="icon ion-log-out" ></i>
              <span> Sign-out</span>
            </button>

           

             

      
  <a class="col social-lrezFb social-button " href="#/app/lrezfb"> 
   <i class="icon ion-social-facebook" ></i> <span>L'REZ FB</span></a>

 

    <!--   <div>
        <button  class="button button-block button-positive" ng-click="appCtrl.fbLogin()">
          Login with Facebook
        </button>
      </div> -->
    
    </ion-content>
    
  </ion-side-menu>

</ion-side-menus>