<ion-view view-title="Reservation">
  <ion-content>
  <div>
    <div class="text-center">
      <a ui-sref="account">
        <img menu-close="" src="img/lrez.jpg" width="410" height="200">
        <h4 >Make a Reservation</h4>
      </a>
      <h5>Please complete the form to submit your reservation request</h5>
      <div class="list list-inset">
        <form novalidate name="reservation">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" name="name" ng-model="rf.name" required placeholder="Name">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Contact Number</span>
            <input type="number" name="number" ng-model="rf.number" required placeholder="Contact Number">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Email Address</span>
            <input type="email" name="email" ng-model="rf.email" required placeholder="Email Address">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Number of Visitors</span>
            <input type="number" name="visitors" ng-model="rf.visitors" required placeholder="Number of Visitors" max='10' min='1'>
          </label>

          <label class="item item-input">
            <span class="input-label">Reservation Date</span>
            <input type="date" name="Date" ng-model="rf.date" required>
          </label>

          <div class="list">
          <label class="item item-input  item-select">
            <div class="input-label">Reservation Timing</div>
            <select name="time" ng-model="rf.time" required>
              <option value="11.5">11:30 a.m.</option>
              <option value="12">12:00 p.m.</option>
              <option value="12.5">12:30 p.m.</option>
              <option value="1">1:00 p.m.</option>
              <option value="1.5">1:30 p.m.</option>
              <option value="2">2:00 p.m.</option>
            </select>
          </label>
        </div>

        <button ng-click= "display()"  ng-disabled="reservation.$invalid" class="button button-block button-balanced" onClick="this.form.reset()">
          Submit
        </button>
      </form>
      
      </div>
  </div>
  </ion-content>
</ion-view>