<ion-view view-title="Reservation">
  <ion-content>
    <div class="text-center">
      <a ui-sref="account">
        <img menu-close="" src="img/lrez.jpg" width="410" height="200">
        <h4 >Make a Reservation</h4>
      </a>
      <h5>Please complete the form to submit your reservation request</h5>
      <div class="list">
        <form novalidate name="reservation">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" name="name" ng-model="rf.name" required placeholder="Ms/Mdm/Mr">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Contact Number</span>
            <input type="text" name="number" ng-model="rf.number" required placeholder="Number">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" name="email" ng-model="rf.email" required placeholder="abc@google.com">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Date</span>
            <input type="date" name="date" ng-model="rf.date" required>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Number of Adults</span>
            <input type="number" name="adult" ng-model="rf.adult" required placeholder="Number of Adult" min="0" max="10">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Number of Kids</span>
            <input type="number" name="kid" ng-model="rf.kid" required placeholder="Number of Kids (Aged 12 years and below)" min="0" max="5">
          </label>

          <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">Reservation Timing</div>
            <select name="time" ng-model="rf.time" required>
              <option value="11.5">11:30 a.m.</option>
              <option value="12">12:00 p.m.</option>
              <option value="12.5">12:30 p.m.</option>
              <option value="1">1:00 p.m.</option>
              <option value="1.5">1:30 p.m.</option>
              <option value="2">2:00 p.m.</option>
            </select>
          </label>
        </div>
        
        <button ng-click= "display()" ui-sref="app.home"  ng-disabled="reservation.$invalid" class="button button-block button-balanced">
          Submit
        </button>

      </form>
      
    </div>

  </ion-content>
</ion-view>