<ion-view view-title="Track Reservations">
  <ion-content>
  <img menu-close="" src="img/tracking.png" width="410" height="200">
    <div class="card">
      <div class="item item-text-wrap">
        Please enter your Tracking ID displayed on form submission </div>
        <div class="list">

          <form name="tracking">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="number" name="TrackID" placeholder="Tracking ID" ng-model="rf.id">
              </label>
            </div>

          </form>
          <button class="button button-block button-positive"  ng-click="statuscheck(rf.id)">
            Check Reservation Status <!--: {{reservationStatus}} !-->
          </button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
