
@{
    ViewBag.Title = "Reservations";
}

<style>
    .input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #CCC;
        color: #555;
        box-sizing: border-box;
        top: 50%;
        width: 250px;
    }

        .input:focus {
            outline: none;
        }

    li a {
        color: grey;
    }

        li a:hover {
            color: black;
        }
</style>
<link type="text/css" rel="stylesheet" href="~/Content/jquery.datetimepicker.css" />

<script>

    function formatDate(dateString) {

        var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        var dateTimeSplit = dateString.split(" ");
        var dateSplit = dateTimeSplit[0].split("/");
        //var timeSplit = dateTimeSplit[1].split(":");
        //var date = new Date(dateSplit[2], dateSplit[1]-1, dateSplit[0], timeSplit[0], timeSplit[1]);

        //return date.toString();
        //return dateSplit[1]-1 + "/" + dateSplit[0] + "/" + dateSplit[2] + " " + timeSplit[0] + ":" + timeSplit[1];
        return dateSplit[0] + " " + months[dateSplit[1]-1] + " " + dateSplit[2] + " " + dateTimeSplit[1];
    }

    function confirmModal() {
        $('#lblName').text($('#sltDesignation').val() + ' ' + $('#inName').val());
        $('#lblCustomerType').text($('input[name=customerType]:checked').val());
        $('#lblContact').text($('#inCountryCode').val().trim() + ' ' + $('#inContact').val());
        $('#lblEmail').text($('#inEmail').val());
        $('#lblDateTime').text($('#datetimepicker').val());
        $('#lblPAX').text($('#inPAX').val());
        $('#lblRequests').text($('#inRequests').val().replace('\r\n', '<br />'));
    }

    function createReservation() {
        var reservation = {
            Name: $('#inName').val(),
            Salutation: $('#sltDesignation').val(),
            Contact: $('#inContact').val(),
            Email: $('#inEmail').val(),
            ReservationDateTime: formatDate($('#datetimepicker').val()),
            NumVisitors: $('#inPAX').val(),
            CustomerType: $('input[name=customerType]:checked').val(),
            Requests: $('#inRequests').val()
        };

        $.ajax({
            url: location.protocol + "//" + location.host + '/Reservation/CreateReservation',
            method: 'post',
            data: reservation,
            success: function (response) {
                resetForm();
                $('#lblSuccess').text('Reservation has been submitted for processing. To track the reservation, please use tracking ID: ' + response.Tracking);
                $("#divSuccess").show();
            },
            error: function (error) {
                console.log('Error: ' + error);
                $("#divFail").show();
            }
        });

    }

    function trackReservation() {
        $("#divNotFound").hide();
        $('#divReservationDetails').hide();
        $.ajax({
            url: location.protocol + "//" + location.host + '/Reservation/TrackReservation',
            method: 'post',
            data: {
                tracking: $('#inTracking').val()
            },
            success: function (response) {
                $('#lblTrackDate').text(response.ReservationDateTime);
                $('#lblTrackStatus').text(response.Status);
                $('#divReservationDetails').show();
            },
            error: function (error) {
                $("#divNotFound").show();
            }
        });
    }

    function resetForm() {
        $('#inName').val("");
        $('#inContact').val("");
        $('#inEmail').val("");
        $('#datetimepicker').val("");
        $('#inPAX').val(null);
        $('#inRequests').val("");
    }

</script>

@section scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script>
        $('#datetimepicker').datetimepicker({
            dayOfWeekStart: 0,
            lang: 'en',
            onGenerate: function (ct) {
                $(this).find('.xdsoft_date.xdsoft_weekend')
                    .addClass('xdsoft_disabled');
            },
            allowTimes: ['11:30', '12:00', '12:30', '13:00', '13:30', '14:00'],
            minDate: '+1970/01/02',
            format: 'd/m/Y H:i'
        });
    </script>
}

<br />

<ul class="nav nav-tabs navbar-right" style="color: black">
    <li class="active"><a data-toggle="tab" href="#create">Make a Reservation</a></li>
    <li><a data-toggle="tab" href="#track">Track a Reservation</a></li>
</ul>

<div class="tab-content">
    <div id="create" class="tab-pane fade in active" style="padding-top: 35px">
        <div id="divSuccess" class="alert alert-success alert-dismissable fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <label id="lblSuccess"></label>
        </div>
        <div id="divFail" class="alert alert-danger alert-dismissable fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <label id="lblFail">Reservation submission failed. Please check your entry.</label>
        </div>

        <h2>Make a Reservation with us today!</h2>
        <br />
        <div>

            <div class="col-lg-2">Name</div>
            <select id="sltDesignation" class="input" style="width: 40px; height: 23px; padding-top: 1px; padding-bottom: 1px;">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Mdm">Mdm</option>
                <option value="Dr">Dr</option>
            </select>&nbsp;&nbsp;
            <input id="inName" class="input" type="text" style="width: 200px;" />*<br /><br />

            <div class="col-lg-2">Contact No.</div>
            <input id="inCountryCode" class="input" type="text" style="width: 40px" value="+65" />&nbsp;&nbsp;
            <input id="inContact" class="input" type="text" style="width: 200px" />*<br /><br />

            <div class="col-lg-2">Email</div><input id="inEmail" class="input" type="text" />*<br /><br />
            <div class="col-lg-2">Reservation Date</div><input id="datetimepicker" class="input" type="text" style="width: 150px" />*<br /><br />

            <div class="col-lg-2">Number of pax</div><input id="inPAX" class="input" type="number" min="0" step="1" style="width: 50px" />*<br /><br />
            <div class="col-lg-2"></div>
            <input type='radio' name='customerType' value='public' checked />public &nbsp;&nbsp;&nbsp;&nbsp;
            <input type='radio' name='customerType' value='staff' /> staff &nbsp;&nbsp;&nbsp;&nbsp;
            <input type='radio' name='customerType' value='student' /> student &nbsp;&nbsp;&nbsp;&nbsp;
            <br /><br />
            <div class="col-lg-2">Special Requests</div><textarea id="inRequests" type="text" style="width: 255px" rows="6"></textarea><br /><br />
            <div class="col-lg-2"></div><div style="width: 250px; text-align: right; float: left">
                <button class="btn btn-default" data-toggle="modal" data-target="#confirmModal" onclick="confirmModal()">go</button>
            </div>
            <div style="font-size: xx-small; clear: both">* denotes compulsary field</div>
        </div>

        <div style="margin-top: 15px">
            <u>Operation Schedule</u><br />
            4 April 2016 - 17 August 2016 (Closed from 18 February to 3 March 2016 for student training)<br />
            Mon to Fri: 11:30am to 2:30pm (Last Order at 2:00pm) Closed on Sat, Sun and Public Holidays<br />
        </div>

        <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirm Reservation?</h4>
                    </div>
                    <div class="modal-body">
                        <p><u>Please review your details</u></p><br />
                        Name : <label id="lblName"></label> (<label id="lblCustomerType"></label>)<br /><br />
                        Contact No. : <label id="lblContact"></label><br /><br />
                        Email : <label id="lblEmail"></label><br /><br />
                        Reservation Time : <label id="lblDateTime"></label><br /><br />
                        Number of pax : <label id="lblPAX"></label><br /><br />
                        Special Requests : <label id="lblRequests"></label><br /><br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="createReservation()">OK</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div id="track" class="tab-pane fade" style="padding-top: 35px">
        <h2>Whats the status of my Reservation?</h2>
        <br /><br />
        <p>Tracking ID:&nbsp;&nbsp;<input type="text" id="inTracking" class="input" style="color: darkgoldenrod" />&nbsp;&nbsp;&nbsp;<button onclick="trackReservation()">go</button></p>
        <br /><br />
        <div id="divNotFound" class="alert alert-danger alert-dismissable fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <label id="lblNotFound">Tracking ID can not be found.</label>
        </div>
        <div id="divReservationDetails" style="display: none">
            Thank you for choosing to dine at L'Rez. <br /><br />Your reservation on <label id="lblTrackDate"></label> is <label id="lblTrackStatus"></label>
        </div>
    </div>

</div>



