@{
    ViewBag.Title = "About Us";
}

<style>

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

</style>

<div style="height: 3em"></div>

<div class="row">

    <div class="col-sm-6 vcenter" style="padding-bottom: 2em"><img src="@ViewBag.Image" alt="" class="img-responsive" /></div><!--
--><div class="col-sm-6 vcenter" style="padding-bottom: 2em">@Html.Raw(@ViewBag.Text)</div>
    
</div>
