@{
    ViewBag.Title = "Contact Us";
}

<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>

<div style="height: 3em"></div>

<div class="row">

    <div class="col-sm-6 vcenter" style="padding-bottom: 2em">
        <div style="text-align: center">@Html.Raw(@ViewBag.Text)</div>
    </div><!--
    --><div class="col-sm-6 vcenter" style="padding-bottom: 2em">
           <div class="google-maps">
               <iframe src="@ViewBag.Map" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
    </div>

</div>
