<ion-view view-title="Information" ng-init="init()">
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <ion-item>
        <h2>L'Rez</h2>
        <br>
          <i class="ion-ios-location assertive"></i>
          180 Ang Mo Kio Avenue 8 Nanyang Polytechnic
          <br>Block F, Level 3
          <br>Singapore 569830
          <br>
          <br><b>Tel: 64514384</b></br>
          <br>Email: L-Rez@mymail.nyp.edu.sg
        </p>
        <p>
          <i class="ion-android-favorite"></i> 0
          <i class="ion-chatbox"></i> 0
        </p>
      </ion-item>
    </ion-item>
  </ion-content>
</ion-view>


<!--<img ng-src="img/r1_thumb.jpg"> --!>