@{
    ViewBag.Title = "Home";
}


<style>
    .custom-body {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .comments-box {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
        border: solid 3px gray;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .social-icon {
        /*width: 5vh;*/
        height: 5vh;
        margin-left: 1vh;
        margin-right: 1vh;
    }
</style>

<img src="~/Images/banner3.jpg" alt="L'Rez" style="width: 100%" />

<div style="background-color: white; opacity: 0.85; position: relative; top: -12vh">
    <div style="float: right; text-align: right; padding: 2.5vh; background-color: darkgoldenrod; opacity: 1 !important;">
        @*<span style="font-size: x-large">follow us</span>*@
        <a href="https://www.instagram.com/explore/locations/324485290/"><img src="~/Images/instagram.png" alt="Instagram" class="social-icon" /></a>
        <a href="https://www.facebook.com/NYPRestaurantandCafe/"><img src="~/Images/facebook.png" alt="Facebook" class="social-icon" /></a>
    </div>
    <div style="float: right; width: 0; height: 0; border-top: 5vh solid transparent; border-bottom: 5vh solid darkgoldenrod; border-left: 5vh solid transparent; border-right: 5vh solid darkgoldenrod;"></div>
</div>

